.new-tweet {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  padding: 50px 50px;
  background-color: #C4dce6;
  width: 100%;
  
}

.tweet-options {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

textarea {
  outline: 0;
  background-color: #C4dce6;
  border: none;
  border-bottom: 1px solid #4b585e;
  resize: none;
  width: 70vw;
  height: 4em;
}

button {
  border-radius: 4px;
  background-color: #4056A1;
  color: #FFFFFF;
  border: none;
  padding: 10px;
  font-family: 'bungee', cursive;
}

output {
  font-family: 'bungee', cursive;
}

.overlimit {
  color: #f21313;
}
